<!DOCTYPE html>
<html lang="ko">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
	<!-- sbb CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<title>Hello, sbb!</title>
</head>
<body>
	<!-- 네비게이션바 -->
	<nav th:replace="navbar :: navbarFragment"></nav>

	<div class="container mt-3" style="height: auto !important; min-height: 100%; padding-bottom: 60px;">
		<div class="row" style="height: auto !important;">
			<!-- 사이드바 -->
		    <div class="col-sm-12 col-md-3 col-lg-2 p-2" style="height: auto !important;">
				<nav th:replace="sidebar :: sidebarFragment"></nav>
		    </div>
			<!-- 기본 템플릿 안에 삽입될 내용 Start -->
			<div class="col-sm-12 col-md-9 col-lg-10 p-2" style="height: auto !important;">
				<th:block id="body-content" layout:fragment="content" style="height: auto !important;"></th:block>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer th:replace="footer :: footer" class="footer"></footer>
	
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/bootstrap.min.js}"></script>
<!-- simpleMDE  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!-- 사이드바 js --> 
<script th:src="@{/js/sidebar.js}"></script>
<!-- 자바스크립트 시작 -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 끝 -->
</body>
</html>