<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<h5 class="border-bottom pb-2 mb-3">내 정보 수정</h5>
			<!-- userInfo 네비게이션 바 -->
			<ul class="nav nav-tabs">
			    <li class="nav-item">
			        <button class="nav-link active" type="button" id="password-tab" data-bs-target="#password" data-toggle="tab" role="tab" aria-controls="password" aria-selected="true">비밀번호</button>
			    </li>
			    <li class="nav-item">
			        <button class="nav-link" type="button" id="emailReceiveYn-tab" data-bs-target="#emailReceiveYn" data-toggle="tab" role="tab" aria-controls="emailReceiveYn" aria-selected="false">이메일 수신여부</button>
			    </li>
			</ul>

			<div class="tab-content" id="myTabContent" style="margin-top: 20px;">
				<!-- 최근 답변 15개 목록 --> 
				<div id="password" class="tab-pane fade show active" role="tabpanel" aria-labelledby="password-tab">
					<form th:action="@{/user/myInfo/setting}" th:object="${userUpdateForm}" method="post">
						<div th:replace="form_errors :: formErrorsFragment"></div>
						<div class="mb-3">
							<label for="password" class="form-label">현재 비밀번호</label>
							<input type="password" th:field="*{currentPassword}" class="form-control">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">새 비밀번호</label>
							<input type="password" th:field="*{password1}" class="form-control">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">새 비밀번호 확인</label>
							<input type="password" th:field="*{password2}" class="form-control">
						</div>
						<button type="submit" class="btn btn-primary">변경</button>
					</form>
				</div>
			</div>
	</div>
	<script layout:fragment="script" type='text/javascript'>
	</script>
</html>